@tailwind base;
@tailwind components;
@tailwind utilities;

.trendbook{
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0,0.4);
    color: rgb(245, 239, 239);
    letter-spacing: 5px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font_trend_book{
    color: rgb(161, 161, 29);
    font-size: 18px;
}
.container{
    display: flex;

    position: relative;
}

.item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}
.t{
    margin-top: 80px;
}

.home{
    margin: 5%;
}


hr{
  height: 2px;
  background-color: black;
}

body{
  width: 100%;
  height: 100%;
}

/* --Cart Page-- */
.flexParentContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cartsContainer{
  width: 100%;
  margin: 30px 165px;
}

.titlesContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.centeredTitle{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.inlineClassContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.boldedHeaders{
  font-weight: bold;
}

.summaryCart{
  background-image: linear-gradient(white,rgb(96, 96, 96));
  width: 40%;
  margin: 40px 165px;
  height: 70%;
  padding-inline: 20px;
  padding-top: 10px;
  box-shadow: -5px 5px 10px black;
}

.orderSummaryFlex{
  display: flex;
  justify-content: space-between;
}

.checkoutLink{
  color: white;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.contentFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.imgAndDesc{
  display: flex;
}

.quantityInput{
  background-color: #c7c7c7;
  width: 60px;
  height: 10px;
  border-radius: 10px;
}

.descContainer{
  padding: 0px 10px;
}

.whiteText{
  color: white;
}

.greyText{
  color: rgb(0, 0, 0);
  text-shadow: -3px 7px 5px black;
}

.deleteBlock{
  margin-top: 60px;
}

.pricePerItem,.SubtotalPrice{
  margin-inline: 7px;
}

.updateButton{
  width: 60px;
  color: white;
  border-radius: 10px;
}

.error-block{
  background-color: #f8d7da;
  columns: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 10px auto;
}

.close-btn{
  background: none;
  border: none;
  color: #721c24;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* --Author's Page-- */
.authorContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.authorName{
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0px;
  text-align: center;
}

.firstCon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.booksForAuthor{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}


.section_Author{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin:20px 0;
}

.section_Author::before,.section_Author::after{
  content: "";
  flex: 1;
  height: 2px;
  background-color: black;
  margin: 0 15px;
}

/* styling for failure and sucess div */
.sucessContainer,.failureContainer{
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 0 0 10px black;
}

.sucessContainer{
  color: #4CAF50;
  background-color: #ddffdd;
}

.failureContainer{
  color: #ffdddd;
  background-color: #ee3c5f;
}

/* Confirmation Page */
.confirmFlexCon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thankingCon{
  font-weight: bold;
  font-size: 2.5em;
}

.backHomeAndDown{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  font-weight: bold;
}

.homeCon{
  height: 200px;
  width: 200px;
  background-image: linear-gradient(white,grey);
  box-shadow: -5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 50px;
  padding-inline: 20px;
}

.homelink{
  color: black;
  size: 1em;
}
